
.form{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: space-between;
}

.inputs{
    width: 250px;
}


.labels{
    text-align: left;
    width: 65px;
    margin-right: 55px;
}

.rows{
    background-color: #F6F6F6;
    padding: 10px;
    margin: auto;
    width: 400px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.button{
    width: 105px;
    margin: auto;
}