form {
padding: 25px;
width: 100%;
display:flex;
justify-content: center;
}


.smallInput {
    width: 85px;
    padding: 10px;
    margin-right: 30px;
    background-color: #EFEFEF;
}

.labels{
    margin-right: 10px;
}

.inputSpace {
    margin-right: 20px;
    padding: 5px;
    background-color: #EFEFEF;
}